#topBlack
{
	background-color:#DCE8CC;
	float:left;
	width:100%;
	height:5px;
}
#header
{
	background-color:#FAFBF8;	
	font-style:"Times New Roman", serif;
	float:left;
	width:100%;
	height:10%;
}
#middleBlack
{
	background-color:#DCE8CC;
	float:left;
	width:100%;
	height:5px;
}
#bottomBlack
{
	background-color:#DCE8CC;
	float:left;
	width:100%;
	height:5px;
}
#thumbnails
{
	background-color:#776285;
	float:left;
	width:550px;
	height:400px;
}
#contentRight
{
	background-color:#776285;
	float:left;
	width:350px;
	height:400px;
}
#footer
{
	background-color:#DCE8CC;
	float:left;
	width:100%;
	height:50px;
}